@font-face {
  font-family: "Digi";
  src: url("./fonts/ds-digi.ttf");
}

body {
  background-color: #1c2143;
}

.canvas__div {
  display: flex;
  padding: 10px 0 10px 0;
  justify-content: center;
  /* align-items: center; */
  align-content: center;
  width: auto;
  height: 550px;
  flex-wrap: wrap;
}
.game-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  border: 2px solid #f3cd74;
  color: #f3cd74;
  border-radius: 8px;
  box-sizing: border-box;
  font-family: "Digi";
  text-align: center;
  font-size: 27px;
  height: 50px;
  width: 80px;
  margin: 0 5px 0 5px;
  padding: 10px;
}

#canvas {
  border: 2px solid #8a7441;
  border-radius: 8px;
}

.game-info-container {
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#level-span {
  font-size: 19.5px;
}
